<header class="header">
  <div class="header__container">
    <div class="header__menu-bar">
      <!-- Logo -->
      <h1 class="header__logo">
        <a href="../index.html">MoviesLib</a>
      </h1>

      <!-- Navigation -->
      <nav class="header__navigation">
        <ul class="header__navigation-list">
          <li
            class="header__navigation-list-item header__navigation-list-item--active"
          >
            <a href="">Home</a>
          </li>
          <li class="header__navigation-list-item">
            <a href="">My Library</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Search input -->
    <div class="header__search-field">
      <label for=""><input type="text" /></label>
      <p class="header__search-failure-message">
        Search result not successful. Enter the correct movie name and search
        again!
      </p>
      <!-- Searcj=h failure text -->
    </div>

    <!-- My library tabs -->
    <div class="header__library-buttons-container">
      <ul class="header__library-buttons-list">
        <li class="header__library-buttons-list-item">
          <button class="header__library-button header__library-button--active">
            Watched
          </button>
        </li>
        <li class="header__library-buttons-list-item">
          <button class="header__library-button">Queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
