<header>
  <div>
    <div>
      <!-- Logo -->
      <h1>
        <a href="">MoviesLib</a>
      </h1>

      <!-- Navigation -->
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">My Library</a></li>
        </ul>
      </nav>
    </div>

    <!-- Search input -->
    <div>
      <label for=""><input type="text" /></label>
      <p>
        Search result not successful. Enter the correct movie name and search
        again!
      </p>
      <!-- Searcj=h failure text -->
    </div>

    <!-- My library tabs -->
    <div>
      <ul>
        <li><button>Watched</button></li>
        <li><button>Queue</button></li>
      </ul>
    </div>
  </div>
</header>
